.threedcontroler-container {
  width: 97%;
  height: 100px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.17);
  border-radius: 10px;
  display: flex;
  align-items: center;
  grid-gap: 10px;
  padding: 0 5px;
  font-size: small;
  white-space: nowrap;
  flex-wrap: wrap;
}

.common_tools {
  display: flex;
}

.optimizationToggle__container .toggle {
  padding: 0;
  border: 2px solid gold;
}
