.form-ip {
  width: min-content;
  text-align: left;
  margin-top: 15px;
  display: flex;
  flex-direction: column;
}

.form-ip input,
.form-ip select {
  border: 2px solid #d40511;
  height: 30px;
  width: calc(100% - 10px);
  box-sizing: border-box;
}

.form-ip label {
  color: #d40511;
  text-align: left;
  margin-top: 10px;
  text-align: left;
}
