.highlight-true {
  background: aqua;
}

.warehousedetail-container {
  display: flex;
}

.cost-color-container-true {
  display: flex;
  background: white;
  margin-left: auto;

}

.cost-color-container-false {
  display: none;
}

.cost-color {
  width: 10px;
  height: 10px;
  place-self: center;
  margin: 3px;
}

.low-cost {
  background: #05a1fd;
}

.med-cost {
  background: #fec766;
}

.hig-cost {
  background: #c72719;
}
