.modal-outer-container {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background: #000000b3;
}

.modal-outer-container button {
  font-size: large;
}

.modal-inner-container {
  background: white;
  border: dashed 2px;
}
